SELECT
  SUBSTR(cid, 3) AS cid,
  'event' AS t,
  {{ event_label }} AS el,
  {{ event_action }} AS ea,
  {{ event_category }} AS ec,
  NTILE({{ num_segments }}) OVER (ORDER BY {{ event_label }} ASC) AS ev
FROM (
  SELECT
    BB_id AS cid,
    RANK() OVER (PARTITION BY BB_id ORDER BY effectiveDate DESC) as rank,
    ROUND(t1.tables.score, 5) AS {{ event_label }}
  FROM `{{ source_table }}`,
  UNNEST(predicted_predictionLabel) AS t1
  WHERE t1.tables.value='true'
)
WHERE rank = 1;
