SELECT
  FORMAT_TIMESTAMP('%Y-%m-%d', TIMESTAMP_MILLIS(timeInMillis)) AS day,
  name,
  COUNT(*) AS fact_count,
  COUNT(SAFE_CAST(value AS INT64)) AS value_count,
  AVG(SAFE_CAST(value AS INT64)) AS average,
  STDDEV_SAMP(SAFE_CAST(value AS INT64)) AS stddev
FROM  `{{ fact_table }}`
WHERE name IN ({{ feature_columns|join(', ') }})
GROUP BY 1, 2;
